/* width */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 10px!important;
    margin: 0 8%;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #38c171bd;
    border-radius: 10px;
    margin: 0 8%;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #38c172;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container-fluid {
    margin: 0!important;
    padding: 0!important;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar {
    box-shadow: 0px -6px 2px 6px grey;
}

.navbar-fix {
    position: fixed!important;
    z-index: 2!important;
    width: 100%!important;
    margin: 0!important;
    box-shadow: 0px -6px 2px 6px grey;
}

footer {
    width: 100%!important;
    box-shadow: 0px 4px 3px 4px grey;
    display: flex;
    margin: 0!important;
    justify-content: center;
}

.footer {
    position: fixed!important;
    z-index: 2!important;
    width: 100%!important;
    bottom: 0;
    box-shadow: 0px 4px 3px 4px grey;
    display: flex;
    margin: 0!important;
    justify-content: center;
}

.body>.row {
    display: flex;
    justify-content: center;
}

.row {
    padding: 20px 10px 2px 10px;
    min-height: 100px;
}

div.row div.col-lg-12 {
    display: flex;
    overflow: auto;
    padding: 5px;
}

.fa, .far, .fas {
    cursor: pointer;
    font-size: 20px;
}

.badge {
    font-size: 12px;
    color: grey;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    color: #38c172;
}

.card .card-body .card-text {
    height: 106px;
    max-height: 106px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    font-size: 14px;
    margin: 0;
}

div.row.comments div.col-12.morecomments * {
    padding: 0px;
    margin: 0;
    display: flex;
}

.morecomments {
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    font-size: 14px;
    padding: 0 0 0 12px;
    margin: -18px 0;
}

.commenthere > .col-12{
    padding: 5px;
}

@media (min-width: 768px) {
    img:active {
        position: fixed;
        z-index: 3;
        width: 65%;
        left: 0%;
        right: 0;
        margin: auto;
        border-radius: 5px;
    }
}

@media (min-width: 992px) {
    img:active {
        left: 32%;
    }
}
