/* width */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 10px!important;
    margin: 0 8%;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #38c171bd;
    border-radius: 10px;
    margin: 0 8%;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #38c172;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container-fluid {
    margin: 0!important;
    padding: 0!important;
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar {
    box-shadow: 0px -6px 2px 6px grey;
}

.navbar-brand{
    display: flex;
}

.navbar-fix {
    position: fixed!important;
    z-index: 2!important;
    width: 100%!important;
    margin: 0!important;
    box-shadow: 0px -6px 2px 6px grey;
}

footer {
    width: 100%!important;
    box-shadow: 0px 4px 3px 4px grey;
    display: flex;
    margin: 0!important;
    justify-content: center;
}

.footer {
    position: fixed!important;
    z-index: 2!important;
    width: 100%!important;
    bottom: 0;
    box-shadow: 0px 4px 3px 4px grey;
    display: flex;
    margin: 0!important;
    justify-content: center;
}

.body>.row {
    display: flex;
    justify-content: center;
}

.body .row {
    padding: 20px 10px 2px 10px;
    min-height: 100px;
}

.body div.row div.col-lg-12 {
    overflow-y: auto;
}

.fa, .far, .fas {
    cursor: pointer;
    font-size: 20px;
}

.body .badge {
    font-size: 12px;
    color: grey;
}

.body .card-footer {
    display: flex;
    justify-content: space-between;
    color: #38c172;
}

.body .card .card-body .card-text {
    height: 106px;
    max-height: 106px;
    overflow-y: auto;
    font-size: 14px;
    margin: 0;
}

div.row.comments div.col-12.morecomments * {
    padding: 0px;
    margin: 0;
    display: flex;
}

.morecomments {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    font-size: 14px;
    padding: 0 0 0 12px;
    margin: -18px 0;
}

.commenthere>.col-12 {
    padding: 5px;
}

.pointer-events-none{
    pointer-events: none;
}

.view-image {
    position: fixed;
    z-index: 3;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    display: flex;
    justify-content: flex-end;
}

div.view-image{
    background: #000000b8;
    height: 100%;
    width: 100%;
    border-radius: unset;
}

.my-6{
    margin: 6rem 0;
}

@media (min-width: 992px) {
    .view-image {
        width: 50%;
        left: 0%;
        right: 0%;
    }
}

@media (max-width: 785px) {
    .view-image {
        width: 75%;
        left: 0%;
        right: 0%;
    }
}

@media (max-width: 575px) {
    .view-image {
        width: 100%;
        left: 0%;
        right: 0%;
        border-radius: unset;
    }

    .col-12.col-sm-8.col-md-8.col-xl-5.my-6{
        padding: 0 10%
    }
}
